<!-- Page Title start -->
<div id="page-title">
    <h2>View Compatibilities</h2>
    <ul class="nav nav-pills" id="PagePills">
      <li class="active"><a data-toggle="pill" href="#home" id="HomePagePills">Varian</a></li>
      <li><a data-toggle="pill" href="#others" id="OtherPagePills" >Others</a></li>
    </ul>
  </div>
   <!-- End Page Title  -->
    <!-- Page Content Start  -->
  <div class="tab-content">
  <!-- Varin Product  -->

    <div id="home" class="tab-pane fade in active">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <div class="widget">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-tds.png" width="26" height="26" alt=""/> </span>Treatment Delivery System </div>
              <div>
                <div id="myCarousel" class="carousel slide" data-interval="false">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                  </ol>

                  <!-- Carousel items -->
                  <div id="carousel-inner" class="carousel-inner" >
                    <div id="item1" class="item active">
                      <div class="row-fluid">
                        <div class="col-md-3"><a href="#" id="TrueBeam" class="box"> <span>TrueBeam</span>
                          <div class="bubble"> 2</div>
                          </a></div>
                        <div class="col-md-3"><a href="#" class="box" id="Edge"> <span>Edge</span></a></div>
                        <div class="col-md-3"><a href="#" class="box" id="VitalBeam"> <span>VitalBeam</span></a></div>
                        <div class="col-md-3"><a href="#" class="box" id="VerificationSystem"> <span>VerificationSystem</span></a></div>
                        <div class="col-md-3"><a href="#" class="box" id="VTx"> <span>VTx</span></a></div>
                        <div class="col-md-3"><a href="#" class="box" id="4DITC"> <span>4DITC</span></a></div>
                        <div class="col-md-3"><a href="#" class="box" id="CSeries"> <span>C Series</span></a></div>
                        <div class="col-md-3"><a href="#" class="box" id="boi"> <span>OBI</span></a></div>
                      </div>
                      <!--/row-fluid-->
                    </div>
                    <!--/item-->

                    <div id="item2" class="item">
                      <div class="row-fluid">
                        <div class="col-md-3"><a href="#" class="box"> <span>TrueBeam</span> </a></div>
                        <div class="col-md-3"><a href="#" class="box"> <span>Edge</span></a></div>
                        <div class="col-md-3"><a href="#" class="box"> <span>VitalBeam</span></a></div>
                        <div class="col-md-3"><a href="#" class="box"> <span>VerificationSystem</span></a></div>
                        <div class="col-md-3"><a href="#" class="box"> <span>VTx</span></a></div>
                        <div class="col-md-3"><a href="#" class="box"> <span>4DITC</span></a></div>
                        <div class="col-md-3"><a href="#" class="box"> <span>C Series</span></a></div>
                        <div class="col-md-3"><a href="#" class="box"> <span>OBI</span></a></div>
                      </div>
                      <!--/row-fluid-->
                    </div>
                    <!--/item-->

                  </div>
                  <!--/carousel-inner-->

                  <a class="left carousel-control" id="carousel-left" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control" href="#myCarousel" id="carousel-right" data-slide="next">›</a> </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="widget row-height-3">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-emr.png" width="26" height="26" alt=""/> </span> EMR System </div>
              <div class="row-fluid" >
                <div class="col-md-6"><a href="#" class="box"><span> ARIA OIS for RO</span>
                  <div class="bubble"> 1</div>
                  </a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-tps.png" width="26" height="26" alt=""/> </span> Treatment Planning System </div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-3"><a href="#" class="box "> <span> Eclipse</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-accessories.png" width="26" height="26" alt=""/> </span> Accessories</div>
              <div class="row-fluid">
                <div class="col-md-3"><a href="#" class="box"> <span>ICVI</span>
                  <div class="bubble"> 10</div>
                  </a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>Headframes</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>MLC</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>BCCV</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>PAVS</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-tms.png" width="26" height="26" alt=""/> </span> Treatment Management System</div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-10"><a href="#" class="box"> <span>ARIA Radiation Therapy Management</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-tms1.png" width="26" height="26" alt=""/> </span> Treatment Monitoring System</div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-3"><a href="#" class="box"> <span>Calypso</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>OSMS</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-ts.png" width="26" height="26" alt=""/> </span> Treatment Simulator</div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-3"><a href="#" class="box"> <span>Acuity</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Non Varin Product  -->
    <div id="others" class="tab-pane fade">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-tps.png" width="26" height="26" alt=""/> </span> Treatment Planning System </div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-3"><a href="#" class="box "> <span> Eclipse</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-accessories.png" width="26" height="26" alt=""/> </span> Accessories</div>
              <div class="row-fluid">
                <div class="col-md-3"><a href="#" class="box"> <span>ICVI</span>
                  <div class="bubble"> 10</div>
                  </a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>Headframes</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>MLC</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>BCCV</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>PAVS</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-tms.png" width="26" height="26" alt=""/> </span> Treatment Management System</div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-10"><a href="#" class="box"> <span>ARIA Radiation Therapy Management</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-tms1.png" width="26" height="26" alt=""/> </span> Treatment Monitoring System</div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-3"><a href="#" class="box"> <span>Calypso</span></a></div>
                <div class="col-md-3"><a href="#" class="box"> <span>OSMS</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget row-height-2">
              <div class="wHeading"><span class="icn-cont"><img src="images/icn-ts.png" width="26" height="26" alt=""/> </span> Treatment Simulator</div>
              <div class="row-fluid" style="overflow:hidden;">
                <div class="col-md-3"><a href="#" class="box"> <span>Acuity</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
